@model NisInventoryManagementMvc.Models.ProductViewModel

<h2>商品詳細</h2>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.ProductId)</label>
    <p>@Html.DisplayFor(model => model.ProductId)</p>
</div>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.ProductName)</label>
    <p>@Html.DisplayFor(model => model.ProductName)</p>
</div>

<div class="form-group">
    <label>@Html.DisplayNameFor(model => model.Price)</label>
    <p>@Html.DisplayFor(model => model.Price)</p>
</div>

<a asp-action="Index" class="btn btn-primary">戻る</a>
<a asp-action="Delete" asp-route-id="@Model.ProductId" class="btn btn-danger">削除</a>
