@model IEnumerable<NisInventoryManagementMvc.Models.ProductViewModel>

<h2>商品一覧</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => product.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.ProductId">詳細</a> |
                    <a asp-action="Delete" asp-route-id="@product.ProductId">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Create">新規作成</a>
