@model IEnumerable<NisInventoryManagementMvc.Models.ArrivalViewModel>

<h2>入荷一覧</h2>

<form asp-action="Search" method="get">
    <p>
        @Html.DisplayNameFor(model => model.ProductName)
        <input type="text" name="productName" />
        @Html.DisplayNameFor(model => model.Quantity)
        <input type="date" name="receiptDate" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arrival in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => arrival.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(model => arrival.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(model => arrival.ReceiptDate)
                </td>
                <td>
                    <a asp-action="Details" asp-route-receiptid="@arrival.ReceiptId">編集</a> |
                    <a asp-action="Delete" asp-route-receiptid="@arrival.ReceiptId">削除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">一覧画面に戻る</a>
</div>

